#myInput {
  width: 100%; 
  padding: 10px 20px 10px 20px; 
  border: 1px solid #ddd;
  margin-bottom: 12px;
}
#filtercontainer {
	margin-bottom: 12px;
}

.filterrow {
  display: none;
}

.show_course {
  display: table-row;
}

/* .btn { */
  /* border: none; */
  /* outline: none; */
  /* padding: 12px 16px; */
  /* background-color: #f1f1f1; */
  /* cursor: pointer; */
/* } */

/* .btn:hover { */
  /* background-color: #ddd; */
/* } */

/* .btn.active { */
  /* background-color: #666; */
  /* color: white; */
/* } */


#no-visit-student.tablefilter:checked~div table tbody tr.no-visit-student,
#heavy-course.tablefilter:checked~div table tbody tr.heavy-course,
#no-visit-teacher.tablefilter:checked~div table tbody tr.no-visit-teacher,
#no-content.tablefilter:checked~div table tbody tr.no-content,
#no-student.tablefilter:checked~div table tbody tr.no-student,
#ok.tablefilter:checked~div table tbody tr.ok,
#filterrow.tablefilter:checked~div table tbody tr.filterrow {
  display: table-row;
}

.tablefilter+label {
  cursor: pointer;
  /* background-color: #666; */
  /* color: #fff; */
  /* padding: 3px; */
}

.tablefilter:checked+label {
  background-color: #ddd;
}

.browse_courses {
  /* position: relative; */
  /* left: 6% */
}

.browse_courses tbody tr,
.tablefilter{
    display:none;
}
